<script>
  import Webcam from 'webcam-easy';
  import {onDestroy} from 'svelte';

  let files, webcam;

  $: if (files) {
    console.log(files);

    for (const file of files) {
      console.log(`${file.name}: ${file.size} bytes`);
    }
  }

  function openCamera() {
    const webcamElement = document.getElementById('webcam');
    const canvasElement = document.getElementById('canvas');
    webcam = new Webcam(webcamElement, 'user', canvasElement);
    webcam.start()
      .then(() => {
        console.log("webcam started");
        document.querySelector('#download-photo').src = webcam.snap();
      })
      .catch(err => {
        console.log(err);
      });
  }

  function hatsChosen() {
    console.log(event.path[1].attributes[1]);
    return event.path[1].attributes[1];
  }

  onDestroy(() => {
    if (webcam) {
      webcam.stop();
    }
  });

</script>
<section id="try-on" class="section">
  <div display="none, block" width="100%" height="100%" class="top-alert">
		<span size="2" display="inline-block" color="black" font-weight="medium" class="top-alert-text">
		<span>Try Our Hats
		</span>
		</span>
  </div>

  <div class="instructions">
    <div class="i1">
      <h4 class="instructions-title"><span class="number">1</span>) Upload or take a photo of you</h4>
      <p class="instructions-p">Choose a frontal portrait, where your face features are symmetrically exposed.</p>
    </div>
    <div class="i2">
      <h4 class="instructions-title"><span class="number">2</span>) Size the photo</h4>
      <p class="instructions-p">In such way that your facial features overlap as close as possible the marks of the
        template. Adjust the size of your photo by sliding the cursor located under your photo.</p>
    </div>
    <div class="i3">
      <h4 class="instructions-title"><span class="number">3</span>) Choose your favourite hat</h4>
      <p class="instructions-p">The hat will overlap your photo at a click of a button. You can try on all the hats in
        the gallery. Click on "more details" for detailed description of the hat.</p>
    </div>
  </div>
  <div class="section-body">
    <div class="hat">
      <img src="https://decorinahats.com/wp-content/uploads/2019/02/evita-try-window-01.png">
      <h4>Evita hat</h4>
    </div>

    <div class="image">
      <button on:click|once={openCamera}>
        Open Webcam
      </button>
      <p>or</p>
      <label for="avatar">Upload a picture:</label>
      <input
          accept="image/png, image/jpeg"
          bind:files
          id="avatar"
          name="avatar"
          type="file"
      />

      <label for="many">Upload multiple files of any type:</label>
      <input
          bind:files
          id="many"
          multiple
          type="file"
      />
      <video id="webcam" autoplay playsinline width="640" height="400"></video>
    </div>
    {#if files}
      <h2>Selected files:</h2>
      {#each Array.from(files) as file}
        <p>{file.name} ({file.size} bytes) </p>
        <img src="{file.name}"/>
      {/each}
    {/if}
  </div>
</section>

<style>
    div {
        text-align: center;
    }

    .top-alert {
        background-color: rgb(250, 242, 244);
        padding: 8px;
        text-align: center;
    }

    .top-alert-text {
        font-size: 0.6em;
        text-align: center;
        justify-content: center;
        font-weight: 500;
    }

    .instructions {
        display: flex;
        background: #F7FAFF;
        padding: 20px;
        margin-bottom: 20px;
    }

    #webcam {
        display: block;
        margin-left: 50px;
    }

    .section-body {
        display: flex;
    }

    .hat {
        width: 50%;
        border: 1px solid gray;
    }

    .image {
        width: 50%;
    }

</style>
